body,html {
    height:100%;
    margin:0;
    padding:0;
    font-size:12px;
    font-family:"Open Sans";
}
a {
    color: #666;
}
textarea {
    box-sizing:border-box;
    font-family:open sans;
}
.wrapper {
    height:100%;
    width:100%;

}
.user-list {
    height:100%;
    background:#333;
    width:300px;
    float:left;
    box-sizing:border-box;
    padding:20px;
    overflow-y:auto;
}
.btn-round {
    border:none;
    padding:10px 20px 10px 20px;
    font-weight:600;
    background:#5ab;
    color:#fff;
    cursor:pointer;
    border-radius:5px;
    text-transform:uppercase;
}
.spacing-right {
    margin-right:10px;
}
input {
    width:300px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:10px;
    box-sizing:border-box;
}
input:focus {
    outline:none;
}
.overlay {
    position:absolute;
    background:lightgrey;
    z-index:100;
    width:100%;
    height:100%;
    opacity:0.8;
}
.overlay-message {
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
    position:absolute;
    background:white;
    z-index:105;
    width:600px;
    height:200px;
    font-size:1.2rem;
    padding:25px;
    box-sizing:border-box;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.username {
    font-size:1.1rem;
    color:#999;
    margin:0;
}
.timestamp {
    font-size:1rem;
    color:#ccc;
    text-align:right;
    margin:0;
}
.chat-wrapper {
    overflow:hidden;
    height:100%;
    position:relative;
    background:lightgrey;
}
.content {
    width:100%;
    font-size:1.4rem;
    background:lightgrey;
    padding:0px 10% 20px 10%;
    box-sizing:border-box;
    position:relative;
    overflow-y:auto;
    height:calc( 100% - 75px )
}
.user-image {
    height:75px;
    width:75px;
    border-radius:50%;
    background:#333;
    border:4px solid #eee;
    box-sizing:border-box;
    padding:3px;
    border:4px solid #eee;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
    display:inline-block;
}
.user-image.small {
    height:60px;
    border:2px solid #aaa;
    width:60px;
    float:left;
    margin-right:10px;
}

.user-container {
    width:100%;
    overflow:hidden;
    height:75px;
    float:left;
    font-size:1.2rem;
    color:#eee;
     line-height:60px;
}
.unread-messages {
    color:green;
    position:absolute;
    top:-50px;
    font-weight:600;
    background:white;
    height:40px;
    opacity:0.7;
    line-height:40px;
    padding:0px 20px 0px 20px;
    text-align:center;
    border-radius:10px;
    left:10px;
    z-index:10;
}

.left {
    float:left;
}
.right {
    float:right;
}
.chatbox {
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:80px;
    background:#fff;
    z-index:5;
}
.chatbox textarea {
    font-size:1.3rem;
    padding:10px;
 width:100%;
 height:90%;
 border:none;
 resize:none;
}
.chatbox textarea:focus {
    outline:none;
}
.message-bubble-container {
    width:100%;
    background:transparent;
    float:right;
}
.message-bubble-left:after,.message-bubble-right:after{
	top: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.message-bubble-left:after {
    left:-27px;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 15px;
}
.message-bubble-left.whisper:after {
	border-right-color: #eef;
}
.message-bubble-right.whisper:after {
    border-left-color:#eef;
}
.message-bubble-right:after {
    right:-27px;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 15px;
}
.message-bubble-left, .message-bubble-right {
    background:white;
    display:block;
    max-width:50%;
    position:relative;
    min-width:54px;
    overflow-wrap:break-word;
    word-break:break-word;
    top:5px;
    margin-bottom:15px;
    opacity:0.7;
    padding:10px 20px 4px 20px;
    border-radius:25px;
    animation: bounce .45s forwards; /* IE 10+, Fx 29+ */
}
.message-bubble-left {
    margin-left:20px;
    float:left;
}
.whisper {
    background:#eef;
    border-radius:5px;
}
.info-message {
    color:#999;
    text-align:center;
    width:100%;
    font-size:1.2rem;
    float:left;
    margin:30px 0px 20px 0px;
}

.message-bubble-right {
    margin-right:20px;
    float:right;
}

.content::-webkit-scrollbar {
    width: 10px;
    margin-right:5px;
    height:90%;
}

.content::-webkit-scrollbar-track {
    border-radius: 10px;
    background:#ddd;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
        background:#999;
}

.user-list::-webkit-scrollbar {
    width: 10px;
    margin-right:5px;
    height:90%;
}

.user-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background:#222;
}

.user-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
        background:#555;
}


@media only screen and (max-width: 900px) {
    .overlay-message {
    z-index:105;
    width:80%;
    height:260px;
    padding:25px;
    box-sizing:border-box;
    }
    input {
        width:100%;
        margin-bottom:15px;
    }
    .btn-round {
        width:100%;
    }

    .content,.chatbox textarea {
        font-size:16px;
    }
    .content {
        padding:35px 10px 0px 10px;
        bottom:40px;
    }
    .user-list {
        display:none;
    }
    .message-bubble-left, .message-bubble-right {
        min-width:60px;
        padding:10px 15px 10px 15px;
        margin-bottom:10px;
    }
    .username,.info-message {
        font-size:0.8rem;
    }
    .timestamp {
        font-size:0.7rem;
    }
    .user-image {
        margin-top:15px;
        width:45px;
        height:45px;
    }
    .chatbox {
        height:40px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@keyframes bounce {
  0% { transform: scale(0.5); opacity:0.7; }
  45% { transform: scale(1.05) }
  65% { transform: scale(0.95) }
  100% {transform: scale(1); opacity:1;}
}

